@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.bg-div {
  background-image: url(../public/login.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Organic-pattern {
  background-image: url(../public/Organic-pattern-6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
